<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Baniwal\Recipes\Api\Data\GridInterface" type="Baniwal\Recipes\Model\Grid" />

    <virtualType name="Baniwal\Recipes\Model\ResourceModel\Grid\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">baniwal_recipes</argument>
            <argument name="resourceModel" xsi:type="string">Baniwal\Recipes\Model\ResourceModel\Grid</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grid_record_grid_list_data_source" xsi:type="string">Baniwal\Recipes\Model\ResourceModel\Grid\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Baniwal\Recipes\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Baniwal\Recipes\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">customLogHandler</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Baniwal\Recipes\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
